---
title: Index Page
---
extends layouts/_layout
block content
	ul(style="padding: 120px 30px;")
		li(style="margin-bottom: 20px;")
			a(href="home.html") home
		li(style="margin-bottom: 20px;")
			a(href="exchange.html") exchange
		li(style="margin-bottom: 20px;")
			a(href="prices.html") prices
		li(style="margin-bottom: 20px;")
			a(href="price-details.html") price-details
		li(style="margin-bottom: 20px;")
			a(href="wallets.html") wallets
		li(style="margin-bottom: 20px;")
			a(href="promotions.html") promotions
		li(style="margin-bottom: 20px;")
			a(href="promotion-detail.html") promotion-detail
		li(style="margin-bottom: 20px;")
			a(href="activities.html") activities
		li(style="margin-bottom: 20px;")
			a(href="notifications.html") notifications
		li(style="margin-bottom: 20px;")
			a(href="sign-in.html") sign-in
		li(style="margin-bottom: 20px;")
			a(href="sign-up.html") sign-up

