//- Description no longer than 155 characters
meta(name="description" content="The Premium Production-ready Crypto Asset Exchange Kit") 
//- Twitter Card data
meta(name="twitter:card" content="summary")
meta(name="twitter:site" content="@ui8")
meta(name="twitter:title" content="Unity Dashboard Kit: Exchange 🤑") 
meta(name="twitter:description" content="The Premium Production-ready Crypto Asset Exchange Kit") 
meta(name="twitter:creator" content="@ui8")
//- Twitter Summary card images must be at least 120x120px
meta(name="twitter:image" content="https://ui8-unity-exchange.herokuapp.com/img/twitter-card.jpg")
//- Open Graph data
meta(property="og:title" content="Unity Dashboard Kit: Exchange 🤑")
meta(property="og:type" content="Article")
meta(property="og:url" content="https://ui8.net/ui8/products/unity-dashboard-kit--exchange") 
meta(property="og:image" content="https://ui8-unity-exchange.herokuapp.com/img/fb-og-image.jpg")
meta(property="og:description" content="The Premium Production-ready Crypto Asset Exchange Kit" ) 
meta(property="og:site_name" content="Unity Dashboard Kit: Exchange 🤑") 
meta(property="fb:admins" content="132951670226590")