// scripts
script(src='js/lib/jquery.min.js')
script(src='js/lib/svg4everybody.min.js')
script(src='js/lib/owl.carousel.min.js')
script(src='js/lib/jquery.nice-select.min.js')
script(src='js/lib/apexcharts.min.js')
script(src='js/lib/jquery.magnific-popup.min.js')
script(src='js/charts.js')
script(src='js/app.js')
